
.htmlclass
{
background:#8a8a8a;
}



.bodyclass
{
background: url("../img/back.png?s");
font-family:Arial,Helvetica,sans-serif;  
font-size:1.2em;
margin:0px;
color:#ffffff;
min-width:925px;
max-width:1400px;

margin-left:auto;
margin-right:auto;
}



.noselect
{
-ms-user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
 




.loginbutton_anchor
{ 
width:300px;

background:#007bff;
color:white;
cursor:pointer;
font-size:1.2em;
letter-spacing: 0.2em;

 -webkit-transition: all 0.2s ease-in-out;  
 -moz-transition: all 0.2s ease-in-out;  
 transition: all 0.2s ease-in-out;
 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 padding:10px;
 text-align:center;
    
background-image: url('../img/anchor.svg?w4e9r');
background-repeat: no-repeat;
  
background-position: right; 
background-size: 48px;    
}

 
.loginbutton_anchor:hover
{
background:#0269d9;

background-image: url('../img/anchor.svg');
background-repeat: no-repeat;
  
background-position: right; 
background-size: 48px;
}

 

.defaultbutton
{
width:300px;
background:#5050ff;
color:white;
cursor:pointer;
font-size:1.2em;

 -webkit-transition: all 0.2s ease-in-out;  
 -moz-transition: all 0.2s ease-in-out;  
 transition: all 0.2s ease-in-out;
 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:10px;
 text-align:center;
        
}

.defaultbutton:hover
{
background:#1010ff;
}



.walletmenu
{
background:#8a8a8a;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.separator
{
margin-left:auto;
margin-right:auto;
width:90%;
border-bottom: 1px dashed #ffffff;
}

.withdrawentry
{
height:80px;
margin-bottom:10px;
background:#aaaaaa;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.minibutton
{
width:100px;
border:1px solid #ffffff;
background:#007bff;
color:white;
cursor:pointer;
font-size:1.0em;

 -webkit-transition: all 0.2s ease-in-out;  
 -moz-transition: all 0.2s ease-in-out;  
 transition: all 0.2s ease-in-out;
 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:5px;
  text-align:center;
    
  margin-top:5px;
  margin-left:auto;
  margin-right:auto;    
}

.minibutton:hover
{
background:#0269d9;
}


.claimtokenbutton
{
width:100px;
border:1px solid #ffffff;
background:#7b7bff;
color:white;
cursor:pointer;
font-size:1.0em;

 -webkit-transition: all 0.2s ease-in-out;  
 -moz-transition: all 0.2s ease-in-out;  
 transition: all 0.2s ease-in-out;
 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding:5px;
text-align:center;
    
margin-top:5px;
margin-left:auto;
margin-right:auto;    
}


.claimtokenbutton:hover
{
background:#6969d9;
}

.claimarea
{
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background:#7a8aff;
}


  